.showcase
    h5.showcase__title title
    .showcase__sorting-menu
        .criteria
            .criteria__item
                span.item-title sort by:
                .item-select#criteriaSort
                    span.item-select__header position
                    ul.item-select__list
                        li.item 
                            a price
                        li.item 
                            a data
                        li.item
                            a position
            .criteria__item
                span.item-title display
                .item-select#criteriaDisplay
                    span.item-select__header 6 per page
                    ul.item-select__list
                        li.item  
                            a 9 per page
                        li.item     
                            a 3 per page
        .view-switch
            .view-switch__item.view-switch__item--linear.active
            .view-switch__item.view-switch__item--grid
    ul.showcase__list.linear
        +showcase__item('img/listing/1.jpg', 'Caribien island', 3, 'пояснение к чему-то','$511.00')
        +showcase__item('img/listing/2.jpg', 'Caribien island', 3, 'пояснение к чему-то','$511.00')
        +showcase__item('img/listing/3.jpg', 'Caribien island', 3, 'пояснение к чему-то','$511.00')
        +showcase__item('img/listing/4.jpg', 'Caribien island', 3, 'пояснение к чему-то','$511.00')
        +showcase__item('img/listing/5.jpg', 'Caribien island', 3, 'пояснение к чему-то','$511.00')
        +showcase__item('img/listing/6.jpg', 'Caribien island', 3, 'пояснение к чему-то','$511.00')
    button.showcase__btn Load more