.showcase
    h5.showcase__title
    .showcase__sorting-menu
        .sorting-menu__criteria
            .criteria__item
                span.criteria__title sort by:
                span.select__header position
                    ul.select__list
                        li.select__item price
                        li.select__item data
            .criteria__item
                span.criteria__title display
                span.select__header 6 per page
                    ul.select__list
                        li.select__item 9 per page
                        li.select__item 3 per page
        .sorting-menu__switch
    ul.showcase__list
        