.header
    height 60px
    box-shadow: 0px 20px 20px -29px #000;
    &__container
        display flex
        align-items center
    &__logo
        display flex
        align-items center
        justify-content flex-start
        margin-right 111px
        .icon
            display block
            width 178px
            height 38px
            font-family SourceSansPro-SemiBold
            background-image url('../../img/icons/logo.svg')
    &__interface 
        width 100%
        display flex
        justify-content space-between
        align-items center
        height 100%

        
