.header
    height 60px
    box-shadow: 0px 20px 20px -29px #000;
    &__container
        @extend .container
        display flex
        align-items center
    &-logo
        display flex
        align-items center
        justify-content flex-start
        margin-right 111px
    @import 'menu'
    &-interface 
        width 100%
        display flex
        justify-content space-between
        align-items center
        height 100%
    @import 'cart'
