@import 'index/slider/slick-theme'
@import 'index/slider/slick'

.slider-sec .container
    position relative 
.slider-arrows
    position absolute
    display flex
    justify-content space-between
    width 100%
    top: calc(50% - 42.5px)
    .arrow__prew
        position relative
        &:after
            position absolute
            top 0
            icon_size_mask(43px, 85px, '../img/icons/arrow-b.svg')
            background-color #8392A6
            cursor pointer
        &:before
            icon_size_mask(43px, 85px, '../img/icons/arrow-a.svg')
            background-color rgba(255,255,255,0.4)
            cursor pointer
        &:hover:after
            background-color $color_bigRiff
        &:hover:before
            background-color rgba(255,255,255,0.9)

    .arrow__next
        position relative
        transform rotate(180deg)
        &:after
            icon_size_mask(43px, 85px, '../img/icons/arrow-b.svg')
            position absolute
            top 0
            background-color #8392A6
            cursor pointer
        &:before
            icon_size_mask(43px, 85px, '../img/icons/arrow-a.svg')
            background-color rgba(255,255,255,0.4)
            cursor pointer
        &:hover:after
            background-color $color_bigRiff
        &:hover:before
            background-color rgba(255,255,255,0.9)