 .rating
    margin-bottom 18px
    &__title 
        margin-bottom 10px
        &:after
            content '' !important
    &__stars
        display flex
    &__star
        position relative
        width 22px
        height 22px    
        margin-right 8px
        // &:before
        //     position absolute
        //     content ''
        //     display block
        //     top 50%
        //     transform translateY(-50%)
        //     opacity 0
        //     transition .3s
        //     icon_size_mask(24px, 24px, '../../img/icons/star.svg')
        //     background-color $color_lessGray
        &:after
            position absolute
            content ''
            display block
            top 50%
            transform translateY(-50%)
            opacity 1
            transition .3s
            icon_size_mask(24px, 24px, '../../img/icons/star.svg')
            background-color #d9dee4
        &.active  
            &:after
                position absolute
                content ''
                display block
                top 50%
                transform translateY(-50%)
                opacity 1
                transition .3s
                icon_size_mask(24px, 24px, '../../img/icons/star.svg')
                background-color #FFC82C
         &.rated 
            &:after
                position absolute
                content ''
                display block
                top 50%
                transform translateY(-50%)
                opacity 1
                transition .3s
                icon_size_mask(24px, 24px, '../../img/icons/star.svg')
                background-color #FFC82C
        