section.elements-sec
    .container
        h5.section-title Elements
        .elements__content
            button.btn.btn--a Button
            button.btn.btn--b Button
            label.switch-btn
                input.checkbox(type='checkbox')
                .knobs
                    .btn.on On
                    .btn.off Off
            .select-list 
                .select-list__header Select what you want
                .select-list__list
                    .select-list__list-item maby that
                    .select-list__list-item weed
                    .select-list__list-item a ceed
                    .select-list__list-item cock
                    .select-list__list-item aid
                    .select-list__list-item maniac
                    .select-list__list-item lock 
            span Tooltip
            .tooltip
                .tooltip__btn(tooltip='The Glossary Of Telescopes sg') 
                   