section.listing-sec
    .container
        h5.section-title listing <span class='listing-sec__title-quantity'>(24)</span>
        .listing-sec__slider-arrows
            .arrow__next
            .arrow__prew
        .listing-sec__list
                ul.list__slider-item
                    +listing-sec__item('img/listing/1.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/2.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/3.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/4.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/5.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/6.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/7.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/8.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/9.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/10.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/11.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/12.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                ul.list__slider-item
                    +listing-sec__item('img/listing/13.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/14.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/15.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/16.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/17.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/18.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/19.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/20.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/21.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/22.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/23.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')
                    +listing-sec__item('img/listing/24.jpg', 'Time laps', 'Timofeev Andrey', 'Drugoi text', '0:12')