section.slider-sec
    .slider-sec__container
        .slider
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
        .slider-arrows
            .slider-arrows__prew
            .slider-arrows__next
        .slider-dots