section.slider-sec
    .container
        .slider
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
            div.slider__item
                img(src="img/slider/1.jpg")
        .slider-arrows
            .slider-arrowPrew
                .slider-arrowPrew-mask
            .slider-arrowNext
                .slider-arrowNext-mask
        .slider-dots