section.tabs-sec
    .container
        h5.section-title Tabs
        .tabs-sec__controls
            a.btn.tabs-sec__controls-item.active(href='#') tab
            a.btn.tabs-sec__controls-item(href='#') tab
            a.btn.tabs-sec__controls-item(href='#') tab
        .tabs-sec__list
            ul.active
                +tabs-sec__item('../../img/listing/1.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/2.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/3.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/4.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/5.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/6.jpg', 'Time laps', 'Timofeev Andrey')
            ul   
                +tabs-sec__item('../../img/listing/7.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/8.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/9.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/10.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/1.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/2.jpg', 'Time laps', 'Timofeev Andrey')
            ul    
                +tabs-sec__item('../../img/listing/3.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/4.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/5.jpg', 'Time laps', 'Timofeev Andrey') 
                +tabs-sec__item('../../img/listing/3.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/4.jpg', 'Time laps', 'Timofeev Andrey')
                +tabs-sec__item('../../img/listing/5.jpg', 'Time laps', 'Timofeev Andrey') 
            