footer.footer
    .container
        .about
            span.text While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. <br><br> Test TRK © 2017
        .terms
            h6.title Terms & Conditions
            ul.terms__list
                li.terms__item
                    a.terms__link.link--a(href="#") Privacy Policy
                    .block
                        .block__header
                            h2.title Privacy Policy
                            .exit
                                .exit__line
                        .block__desc
                            p While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. 
                li.terms__item
                    a.terms__link.link--a(href="#") Terms of Payment
                    .block
                        .block__header
                            h2.title Terms of Payment
                            .exit
                                .exit__line
                        .block__desc
                            p While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. 
                li.terms__item
                    a.terms__link.link--a(href="#") Terms of Service
                    .block
                        .block__header
                            h2.title Terms of Service
                            .exit
                                .exit__line
                        .block__desc
                            p While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it. 
        .contacts-support
            h6.title Contact Support
            a.mail(href='mailto:jermey.kling@yahoo.com') jermey.kling@yahoo.com
            button.btn.btn--b Leave feeback
        .socials
            h6.title Follow
            .socials__list
                a.socials__item
                    .facebook
                a.socials__item
                    .google
                a.socials__item
                    .twitter
