doctype html
html(lang="eng")
    head
        include mixins/meta
        include mixins/styles
        title Shoping cart
    body
        include mixins/mixins
        include modal/modal
        main.cart-page
            .wrapper
                include header/header
                .container
                    include cart/cart-content
                include footer/footer
    include mixins/scripts