doctype html
html(lang="eng")
    head
        include mixins/meta
        include mixins/styles
        title Template index
    body
        include mixins/mixins
        include modal/modal
        main.index-page
            .wrapper
                include header/header
                include index/slider
                include index/article
                include index/listing
                include index/gradients
                include index/inputs
                include index/tabs
                include index/elements
                include index/last
                include footer/footer
        include mixins/scripts