doctype html
html(lang="eng")
    head
        include mixins/meta
        include mixins/styles
        title Template product-page
    body
        include mixins/mixins
        include modal/modal
        main.product-page
            .wrapper
                include header/header
                .container
                    include product/product-content
                include footer/footer
    include mixins/scripts