mixin ui__color-block(color)
    .ui__color-block(style='width: 40px; height: 40px; background-color: ' + color)

mixin listing-sec__item(url, title, author, desc, time)
    li.listing-sec__item
        .listing-sec__item-img
            img(src= url)
            .listing-sec__item-img-time= time
        .listing-sec__item-title=  title
        .listing-sec__item-author= author
        .listing-sec__item-desc= desc

mixin tabs-sec__item(url, title, author, desc)
    li.tabs-sec__item
        .tabs-sec__item-img
            img(src= url)
        .tabs-sec__item-title=  title
        .tabs-sec__item-author= author

