script(type="text/javascript" src='js/libs/jquery.min.js')
script(type="text/javascript" src='js/libs/slick.min.js')
script(type="text/javascript" src='js/libs/ion.rangeSlider.min.js')

script(type="text/javascript" src='js/main.js')
script(type="text/javascript" src='js/sliders.js')
