link(href='css/style.css', rel='stylesheet', type='text/css')

//- libs
link(href='css/libs/slick-theme.css', rel='stylesheet', type='text/css')
link(href='css/libs/slick.css', rel='stylesheet', type='text/css')
link(href='css/libs/ion.rangeSlider.min.css', rel='stylesheet', type='text/css')


