.cart-content
    .cart-content__header
        h1.cart-content__title shoping cart
    include cart-interface
    .cart-content__empty-cart
        h2.title Oops! Your cart is empty because you didn’t buy anything
    .cart-content__bought-cart
        h2.title Thank you for your choice. Your number of the order is 5238043
        button.btn.btn--a Go Home
            