.cart-interface
    table.cart-interface__table
        tbody
            tr.head
                th.head__remove-col Remove
                th.head__image-col Image
                th.head__product-col Product(s)
                th.head__price-col Price
                th.head__qty-col Qty.
                th.head__total-col Total
            tr.row
                td.row__remove-cell  
                    label.label__checkbox
                        .checkbox-btn
                            input.checkbox(type='checkbox' checked)
                            .knob
                td.row__image-cell
                    img(src="img/slider/1.jpg")
                td.row__product-cell Google Analytics
                td.row__price-cell $25.00
                td.row__qty-cell 
                    input.input
                td.row__total-cell $25.00
    .cart-interface__btns
        button.update-button Update cart
        button.continue-button Continue shopping
    .cart-interface__total
        .sub-row
            span.title Sub-Total:
            span.amount $25.00
        .shipping-row
            span.title Shipping:
            span.amount $25.00
        .tax-row
            span.title Tax:
            span.amount $25.00
        .result-row
            span.title Total:
            span.amount $25.00
        .agreement
            label.label__checkbox
                .checkbox-btn
                    input.checkbox(type='checkbox')
                    .knob
            span.agreement__desc I Agree. <a href="#" class="link--b"> Our Terms of Service </a> and Privacy Notice are linked here for your review.
        button.checkout-btn checkout
