footer.footer
	.footer__data
		span.footer__data-year  © 2019
		.footer__data-author
			span.footer__data-name Тимофеев Андрей
			span.footer__data-desc Личный сайт веб разработчика
	.footer__mainWrapper
		include main-menu 
	.footer__pr
		p.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool	
		.footer__socials
		include socials
			+socials('footer')
	blockquote.footer__quoteWrap
		p.footer__qoute-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
		cite.footer__qoute-name Martin Goldin
	
		