.welcome-section
	h1.welcome-section__title.text Тимофеев Андрей
	h2.welcome-section__desc Личный сайт веб разработчика
	a.welcome-section__scroll(href='#')
		span.welcome-section__scroll-text Скролл
			+icon(`scroll`,'welcome-section__scroll-icon')