.gradient-sec
    margin-bottom 15px
    &__item 
        height 368px
        width 1180px
        border-radius 6px
        margin-bottom: 25px
        &.one 
            background linear-gradient(225deg, #32C5FF 0%, #B620E0 51.26%, #F7B500 100%)
        &.two
            background linear-gradient(180deg, #6DD400 0%, #F7B500 100%)