@font-face 
    font-family 'SourceSansPro-Regular'
    src url('fonts/SansPro-Regular/SourceSansPro-Regular.eot')
    src url('fonts/SansPro-Regular/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SansPro-Regular/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg'),
        url('fonts/SansPro-Regular/SourceSansPro-Regular.ttf') format('truetype'),
        url('fonts/SansPro-Regular/SourceSansPro-Regular.woff') format('woff'),
        url('fonts/SansPro-Regular/SourceSansPro-Regular.woff2') format('woff2')
    font-weight normal
    font-style normal

@font-face 
    font-family 'SourceSansPro-SemiBold'
    src url('fonts/SansPro-SemiBold/SourceSansPro-SemiBold.eot')
    src url('fonts/SansPro-SemiBold/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SansPro-SemiBold/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg'),
        url('fonts/SansPro-SemiBold/SourceSansPro-SemiBold.ttf') format('truetype'),
        url('fonts/SansPro-SemiBold/SourceSansPro-SemiBold.woff') format('woff'),
        url('fonts/SansPro-SemiBold/SourceSansPro-SemiBold.woff2') format('woff2');
    font-weight normal
    font-style normal

@font-face 
    font-family 'SourceSansPro-Bold'
    src url('fonts/SansPro-Bold/SourceSansPro-Bold.eot')
    src url('fonts/SansPro-Bold/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SansPro-Bold/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg'),
        url('fonts/SansPro-Bold/SourceSansPro-Bold.ttf') format('truetype'),
        url('fonts/SansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
        url('fonts/SansPro-Bold/SourceSansPro-Bold.woff2') format('woff2');
    font-weight normal
    font-style normal

